$lightgrey : #e4e7ec;
$gray :#CED2DA;
$gray2 : #637083; 
$brightblue : #1A75FF;
$lightblue : #F0F6FF;
$darkblue : #0052CC;
$darkblue2 : #002966;
$white : #fff;
$lightblack :#344051;
$lightblack2 :#141C24;

