$lightgrey : #e4e7ec;
$gray :#CED2DA;
$gray2 : #637083;
$lightgrey2 : #F2F4F7; 
$brightblue : #1A75FF;
$lightblue : #F0F6FF;
$lightblue2 : #E6EFFF;
$lightblue3 :#E6F4FF;
$darkblue : #0052CC;
$darkblue3 : #004ECC;
$blue : #0077CC;
$darkblue2 : #002966;
$tosca : #0099CC;
$lighttosca :#E6F9FF;
$white : #fff;
$lightblack :#344051;
$lightblack2 :#141C24;

