@import './color.scss';

.footer-logo{
    justify-content: center;
    margin-bottom: 24px;
    @media (min-width:768px){
        justify-content: left;
    }
}

.footer-desc{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
    color: $lightblack;
    @media (min-width:768px){
        text-align: start;
    }
}

.footer-socmed{
    display: flex;
    justify-content: center;
    gap: 12px;
    @media (min-width:768px){
        justify-content: left;
    }
}

.footer-socmed a{
    width: 24px;
}

.footer-socmed-icon{
    width: 100%;
    display: block;
}

.footer-items{
    @media (min-width:1024px){
        display: flex;
        justify-content: space-between;
    }
}

.footer-headline{
    margin-bottom: 32px;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width:768px){
        flex-wrap: nowrap;
    }
}

.footer-link{
    margin-bottom: 32px;
    @media (min-width:378px){
        width: 164px;
    }
}

.footer-contents{
    padding-bottom: 32px;
    border-bottom: 1px solid $lightgrey;
    margin-bottom: 32px;
    @media (min-width:768px){
        display: flex;
        padding-bottom: 0;
    }
    @media (min-width:1024px){
        width: 764px;
    }
}

.footer-contents-title{
    margin-bottom: 16px;
    display: block;
    color: $lightblack2;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.footer-contents-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-contents-item a{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $lightblack;
}

.footer-contact-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-contact{
    display: flex;
    gap: 8px;
    align-items: center;
}


.footer-contact img{
    width: 20px;
}

.footer-contact p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.footer-footnote{
    text-align: center;
    @media (min-width:768px){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footer-footnote-title{
    display: block;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $lightblack2;
    @media (min-width:768px){
        margin-bottom: 0;
    }
}

.footnote-child{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.footnote-child a{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: $brightblue;
}

.footnote-child span{
    color: $gray;
}