@import './color.scss';

.header-section{
    border-bottom: 1px solid $lightgrey;
    width: 100%;
    background: $white;
    position: fixed;
    z-index: 2;
    @media (min-width: 1024px){
        border-bottom: none;
    }
}
.header-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width:768px){
        padding: 10px 32px;
    }
    @media (min-width:1024px){
        max-width: 1216px;
        right: 0;
        left: 0;
        margin: 0 auto;
        padding: 18px 24px ;
    }
    @media (min-width:1216px){
        padding: 18px 0;
    }
}

.header-logo{
    display: flex;
    gap: 10px;
    @media (min-width:768px){
        align-items: center;
    }
}

.header-logo-img{
    width: 36px;
    height: 40px;
}

.header-logo-text{
    display: none;
    @media (min-width:768px){
        display: block;
        width: 140px;
    }
}

.header-btn{
    background: $brightblue;
    border: none;
    padding: 8px 16px;
    height: fit-content;
    border-radius: 8px;
    @media (min-width: 768px){
        padding: 10px 20px;
    }
}

.header-btn p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: $white;
    @media (min-width: 1024px){
        font-size: 14px;
        line-height: 20px;
    }
}

.header-nav-lists{
    display: none;
    @media (min-width:1024px){
        display: flex;
        gap: 24px;
    }
}

.header-nav-list{
    list-style: none;
}

.header-nav-list a{
    text-decoration: none;
    color: $lightblack;
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
}

.header-navbar-btn{
    width: fit-content;
    display: flex;
    gap: 12px;
    justify-content: end;
    align-items: center;
    @media (min-width:1024px){
        flex-direction: row-reverse;
        gap: 24px;
    }
}

.header-nav-btn{
    background: $white;
    border: 1px solid $gray;
    width: 36px;
    padding: 6px;
    border-radius: 8px;
    @media (min-width:768px){
        width: 44px;
        padding: 8px;
    }
    @media (min-width:1024px){
        display: none;
    }
}

.header-nav-btn img{
    width: 100%;
    display: block;
}

